<div>
  <div class="container">
    <p class="h5" style="color: darkkhaki;padding-top: 30px;margin-bottom: 10px;">Team</p>
    <p class="h2">Our Members</p>
    <div class="row">
      <div class="col-12 col-sm-6 col-md-6 col-xl-4 text-center card-member">
        <img src="../../../assets/Lam.png" alt="img" class="img">
        <p class="h5">Nguyễn Văn Lâm</p>
        <p class="text">Ngày sinh: 19/01/2001</p>
        <p class="text">Chuyên ngành: Kĩ thuật phần mềm</p>
        <div class="text-center">
          <a href="#"><img src="../../../assets/facebook.png" alt="icon" class="icon"></a>
          <a href="#"><img src="../../../assets/github.png" alt="icon" class="icon"></a>
          <a href="#"><img src="../../../assets/gmail-logo.png" alt="icon" class="icon"></a>
          <a href="#"><img src="../../../assets/instagram.png" alt="icon" class="icon"></a>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-6 col-xl-4 text-center card-member">
        <img src="../../../assets/Lam.png" alt="img" class="img">
        <p class="h5">Nguyễn Văn Lâm</p>
        <p class="text">Ngày sinh: 19/01/2001</p>
        <p class="text">Chuyên ngành: Kĩ thuật phần mềm</p>
        <div class="text-center">
          <a href="#"><img src="../../../assets/facebook.png" alt="icon" class="icon"></a>
          <a href="#"><img src="../../../assets/github.png" alt="icon" class="icon"></a>
          <a href="#"><img src="../../../assets/gmail-logo.png" alt="icon" class="icon"></a>
          <a href="#"><img src="../../../assets/instagram.png" alt="icon" class="icon"></a>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-6 col-xl-4 text-center card-member">
        <img src="../../../assets/Lam.png" alt="img" class="img">
        <p class="h5">Nguyễn Văn Lâm</p>
        <p class="text">Ngày sinh: 19/01/2001</p>
        <p class="text">Chuyên ngành: Kĩ thuật phần mềm</p>
        <div class="text-center">
          <a href="#"><img src="../../../assets/facebook.png" alt="icon" class="icon"></a>
          <a href="#"><img src="../../../assets/github.png" alt="icon" class="icon"></a>
          <a href="#"><img src="../../../assets/gmail-logo.png" alt="icon" class="icon"></a>
          <a href="#"><img src="../../../assets/instagram.png" alt="icon" class="icon"></a>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-6 col-xl-2"></div>
      <div class="col-12 col-sm-6 col-md-6 col-xl-4 text-center card-member">
        <img src="../../../assets/Lam.png" alt="img" class="img">
        <p class="h5">Nguyễn Văn Lâm</p>
        <p class="text">Ngày sinh: 19/01/2001</p>
        <p class="text">Chuyên ngành: Kĩ thuật phần mềm</p>
        <div class="text-center">
          <a href="#"><img src="../../../assets/facebook.png" alt="icon" class="icon"></a>
          <a href="#"><img src="../../../assets/github.png" alt="icon" class="icon"></a>
          <a href="#"><img src="../../../assets/gmail-logo.png" alt="icon" class="icon"></a>
          <a href="#"><img src="../../../assets/instagram.png" alt="icon" class="icon"></a>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-6 col-xl-4 text-center card-member">
        <img src="../../../assets/Lam.png" alt="img" class="img">
        <p class="h5">Nguyễn Văn Lâm</p>
        <p class="text">Ngày sinh: 19/01/2001</p>
        <p class="text">Chuyên ngành: Kĩ thuật phần mềm</p>
        <div class="text-center">
          <a href="#"><img src="../../../assets/facebook.png" alt="icon" class="icon"></a>
          <a href="#"><img src="../../../assets/github.png" alt="icon" class="icon"></a>
          <a href="#"><img src="../../../assets/gmail-logo.png" alt="icon" class="icon"></a>
          <a href="#"><img src="../../../assets/instagram.png" alt="icon" class="icon"></a>
        </div>
      </div>
    </div>
  </div>
</div>
