<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid p-0 m-0">
    <div class="col-4">
      <a class="navbar-brand d-flex mx-md-4" href="#">
        <img src="https://res.cloudinary.com/hieuduy175111/image/upload/v1625890024/CodingClub/logoCC_mijfgw.png" width="50" height="50" class="mt-lg-1">
        <h1 class="mt-3 mt-lg-3 fw-bold title-logo">CODINGCLUB</h1>
      </a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation" data-spy="affix" data-offset-top="700 ">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse col-8" id="navbarNavDropdown">
      <ul class="navbar-nav d-sm-flex col-md-4 col-lg-7 col-xl-6 justify-content-center">
        <li class="nav-item active mx-lg-1">
          <a class="nav-link fw-bold text-dark" routerLink="/posts">BÀI VIẾT</a>
        </li>
        <li class="nav-item mx-lg-1">
          <a class="nav-link fw-bold text-dark" routerLink="/about">VỀ CHÚNG TÔI</a>
        </li>
        <li class="nav-item mx-lg-1">
          <a class="nav-link fw-bold text-dark" routerLink="/contact">LIÊN HỆ</a>
        </li>
      </ul>
      <ul class="navbar-nav col-md-8 col-lg-5 col-xl-6 justify-content-end">
        <li class="nav-item ">
          <a class="nav-link" routerLink="/register" *ngIf="!islogins">
            <button class="btn btn-light fw-bold" style="border: 1px solid #7749F8; color: #7749F8">ĐĂNG KÝ</button>
          </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" routerLink="/login" *ngIf="!islogins">
            <button class="btn btn-primary fw-bold" style="background-color: #7749F8; border: 1px solid #7749F8">ĐĂNG NHẬP</button>
          </a>
        </li>
        <li class="nav-item mx-lg-1">
          <a class="nav-link" routerLink="/user" *ngIf="islogins">
            <div class="d-flex">
              <img src="http://res.cloudinary.com/hieuduy175111/image/upload/v1626936061/CodingClub/javascript_bombvn.png" width="40" style="border-radius: 50px">
              <p class="my-auto mx-2 fw-bolder text-dark">Thái Học</p>
            </div>
          </a>
        </li>
        <li class="nav-item" style="margin-right: 40px !important">
          <a class="nav-link" routerLink="/login" *ngIf="islogins">
            <button class="btn btn-light fw-bolder" (click)="logout()" style="border: 2px solid #17A2B8; color: #17A2B8;">Đăng xuất</button>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
