<div class="container-fluid d-flex justify-content-end p-0 m-0">
  <div class="section-trending w-75 mt-3 p-3">
    <div class="d-flex justify-content-center mt-3">
      <i class="fa fa-star" aria-hidden="true"></i>
      <h6 class="mx-1">Top trending</h6>
    </div>
    <div class="w-100 d-flex mt-3">
      <div>
        <img src="http://res.cloudinary.com/hieuduy175111/image/upload/v1626936060/CodingClub/html_xqnr53.png" width="100">
      </div>
      <div class="my-auto">
        <h6>Thái Học</h6>
        <p class="mb-2">Đây là logo của HTML 5</p>
        <div>
          <i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 6
          <i class="fa fa-comment-o" aria-hidden="true"></i> 8
        </div>
      </div>
    </div>
    <div class="w-100 d-flex mt-3">
      <div>
        <img src="http://res.cloudinary.com/hieuduy175111/image/upload/v1626936060/CodingClub/html_xqnr53.png" width="100">
      </div>
      <div class="my-auto">
        <h6>Thái Học</h6>
        <p class="mb-2">Đây là logo của HTML 5</p>
        <div>
          <i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 6
          <i class="fa fa-comment-o" aria-hidden="true"></i> 8
        </div>
      </div>
    </div>
    <div class="w-100 d-flex mt-3">
      <div>
        <img src="http://res.cloudinary.com/hieuduy175111/image/upload/v1626936060/CodingClub/html_xqnr53.png" width="100">
      </div>
      <div class="my-auto">
        <h6>Thái Học</h6>
        <p class="mb-2">Đây là logo của HTML 5  </p>
        <div>
          <i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 6
          <i class="fa fa-comment-o" aria-hidden="true"></i> 8
        </div>
      </div>
    </div>
    <div class="w-100 d-flex mt-3">
      <div>
        <img src="http://res.cloudinary.com/hieuduy175111/image/upload/v1626936060/CodingClub/html_xqnr53.png" width="100">
      </div>
      <div class="my-auto ">
        <h6>Thái Học</h6>
        <p class="mb-2">Đây là logo của HTML 5</p>
        <div>
          <i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 6
          <i class="fa fa-comment-o" aria-hidden="true"></i> 8
        </div>
      </div>
    </div>
  </div>
</div>
