<div class="container my-5">
  <div class="info-user mx-auto p-5" *ngIf="!this.editProfile">
    <div class="text-center">
      <img src="{{this.personalInformation?.imgAvatar}}" width="100" height="100" style="border-radius: 100px">
      <h3 class="mt-3">{{this.personalInformation?.lastname}} {{this.personalInformation?.firstname}}</h3>
    </div>
    <div class="mx-3">
      <div class="mt-5">
        <label class="fw-bolder">Username:</label>
        <span class="mx-2 fw-bolder">{{this.personalInformation?.username}}</span>
      </div>
      <div class="mt-3">
        <label class="fw-bolder">Họ tên:</label>
        <span class="mx-2 fw-bolder">{{this.personalInformation?.lastname}} {{this.personalInformation?.firstname}}</span>
      </div>
      <div class="mt-3">
        <label class="fw-bolder">Email:</label>
        <span class="mx-2 fw-bolder">{{this.personalInformation?.email}}</span>
      </div>
      <div class="mt-3">
        <label class="fw-bolder">Số điện thoại:</label>
        <span class="mx-2 fw-bolder">{{this.personalInformation?.phone}}</span>
      </div>
      <div class="mt-5 text-center">
        <button class="btn btn-light" (click)="this.editProfile = !this.editProfile">Chỉnh sửa thông tin cá nhân</button>
      </div>
    </div>
  </div>
  <form name="myForm" [formGroup]="infoUser" (ngSubmit)="onSubmit()" class="w-50 mx-auto p-3 p-md-5" *ngIf="this.editProfile">
    <div class="text-center">
      <img src="{{this.checkTagetImg ? this.imgUrl : this.personalInformation?.imgAvatar}}" width="100" height="100" style="border-radius: 100px">
      <br>
      <label for="avatar" id="buttonAddImage">
        Thay đổi ảnh đại diện
      </label>
      <input type="file" id="avatar" class="d-none" (change)="onFileSelected($event)">
      <h3 class="mt-3">{{this.personalInformation?.lastname}} {{this.personalInformation?.firstname}}</h3>
    </div>
    <div class="reg-form form-group mt-5">
      <label for="lastname" class="fw-bold">
        Họ:
      </label>
      <input
        class="form-control"
        type = "text"
        name="lastname"
        formControlName="lastname"
        required
        id="lastname"
      >
    </div>
    <div class="reg-form form-group my-3">
      <label for="firstname" class="fw-bold">
        Tên:
      </label>
      <input
        class="form-control"
        type = "text"
        name="firstname"
        formControlName="firstname"
        required
        id="firstname"
      >
    </div>
    <div class="reg-form form-group my-3">
      <label for="email" class="fw-bold">
        Email:
      </label>
      <input
        class="form-control"
        type = "email"
        name="email"
        formControlName="email"
        required
        id="email"
      >
    </div>
    <div class="reg-form form-group my-3">
      <label for="phone" class="fw-bold">
        Số điện thoại:
      </label>
      <input
        class="form-control"
        type = "text"
        name="phone"
        formControlName="phone"
        required
        id="phone"
      >
    </div>
    <div class="text-center pb-5">
      <button (click)="this.editProfile = !this.editProfile" class="btn btn-danger mx-3">Hủy</button>
      <button  type="submit" class="btn btn-info fw-bolder" >Lưu</button>
    </div>
  </form>
</div>
