<div class="container-fluid d-flex justify-content-end p-0 m-0">
  <div class="listFriend-content w-75 p-3">
    <div>
      <h6 class="text-uppercase">List friend</h6>
    </div>
    <div class="d-flex mt-3">
      <div>
        <img src="http://res.cloudinary.com/hieuduy175111/image/upload/v1626936061/CodingClub/javascript_bombvn.png" width="50">
      </div>
      <p class="mx-3 my-auto h-100 fw-bolder">Thai Hoc</p>
      <div class="my-auto">
        <i class="fa fa-circle my-auto text-info" aria-hidden="true"></i>
      </div>
    </div>
  </div>
</div>
