<div class="container-fluid d-flex justify-content-end p-0 m-0">
  <div class="listFriend-content w-75 p-3">
    <div>
      <h6 class="text-uppercase">List friend</h6>
    </div>
    <div class="d-flex mt-3" *ngFor="let itemUser of listAllUser">
      <div>
        <img src="{{itemUser.avatar}}" width="50" height="50" style="border-radius: 100px">
      </div>
      <p class="mx-3 my-auto h-100 fw-bolder">{{itemUser.username}}</p>
      <div class="my-auto">
        <i class="fa fa-circle my-auto text-info" aria-hidden="true"></i>
      </div>
    </div>
  </div>
</div>
