@media only screen and (min-width: 1220px) {
  form{
    width: 600px !important;
  }
}
@media only screen and (max-width: 1220px) {
  form{
    width:50vw !important;
    height: auto;
  }
}
@media only screen and (max-width: 992px) {
  form{
    width: 50vw !important;
    height: auto;
  }
}
@media only screen and (max-width: 768px) {
  form{
    margin-left: 20px !important;
    width: 80vw !important;
    height: auto;
  }
}
form{
  background-color: #EDEAFF;
}

input{
  background-color: #6C757D;
}
button{
  background-color: #17A2B8;
}
