.body {
  background-image: url("../../../assets/1.jpg"); opacity: 1;
  background-size: 100% 100%;
  //width: 600px;
}
.form-group {
  margin-top: 50px;
}
.contact {
  border-radius: 20px;
  background-color: rgba(128, 128, 128,0.8);
}
.image {
  padding-top: 20px;
  margin-bottom: 20px;
}
.title {
  margin-top: 20px;
}
.item {
  margin-top: 10px;
  margin-bottom: 70px;
  color: white;
}
.button {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
}
.text-err {
  color: black;
  margin-top: 20px;
}
