<div class="container my-5 bg-light">
  <form name="myForm" [formGroup]="infoUser" (ngSubmit)="onSubmit()" class="w-50 mx-auto">
    <div class="text-center pt-5">
      <h1>THAY ĐỔI MẬT KHẨU</h1>
    </div>
    <div class="reg-form form-group mt-3">
      <input
        class="form-control"
        type = "password"
        name="oldpassword"
        formControlName="oldpassword"
        required
        placeholder="Mật khẩu cũ"
        id="oldpassword"
      >
      <div *ngIf="oldpassword?.invalid && (oldpassword?.touched || submitted)" class="text-danger mt-2">
        <div *ngIf="oldpassword?.errors?.required">
          <i class="fa fa-exclamation-circle" aria-hidden="true">Mật khẩu không được để trống</i>
        </div>
      </div>
    </div>
    <div class="reg-form form-group my-3">
      <input
        class="form-control"
        type = "password"
        name="newpassword"
        formControlName="newpassword"
        required
        placeholder="Mật khẩu mới"
        id="newpassword"
      >
      <div *ngIf="newpassword?.invalid && (newpassword?.touched || submitted)" class="text-danger mt-2">
        <div *ngIf="newpassword?.errors?.required">
          <i class="fa fa-exclamation-circle" aria-hidden="true">Mật khẩu mới không được để trống</i>
        </div>
        <div *ngIf="newpassword?.errors?.minlength">
          <i class="fa fa-exclamation-circle" aria-hidden="true">Mật khẩu mới phải nhiều hơn 9 ký tự</i>
        </div>
      </div>
    </div>
    <div class="reg-form form-group my-3">
      <input
        class="form-control"
        type = "password"
        name="confirmnewpassword"
        formControlName="confirmnewpassword"
        required
        placeholder="Xác thực mật khẩu mới"
        id="confirmnewpassword"
      >
      <div *ngIf="confirmnewpassword?.invalid && (confirmnewpassword?.touched || submitted)" class="text-danger mt-2">
        <div *ngIf="confirmnewpassword?.errors?.required">
          <i class="fa fa-exclamation-circle" aria-hidden="true"> Xác thực không được để trống</i>
        </div>
      </div>
    </div>
    <div class="text-center pb-5">
      <button  type="submit" class="btn btn-danger">ĐĂNG NHẬP</button>
    </div>
  </form>
</div>
