<div class="m-3 category">
  <ul class="list-unstyled d-flex d-md-inline" *ngFor="let item of category" style="overflow-x: auto;">
    <a href='/new/theme/{{item.name.toLowerCase()}}' class="text-decoration-none">
      <li class="row py-2 mt-2" style="border-radius: 5px;">
        <div class="col-3">
          <img src="{{item.image}}" width="30">
        </div>
        <div routerLink="#" class="text-decoration-none text-dark fw-bold text-center col-9">{{item.name}}</div>
      </li>
    </a>
  </ul>
</div>
