<div class="container my-5 bg-light">
  <form name="myForm" [formGroup]="infoUser" (ngSubmit)="onSubmit()" class="w-50 mx-auto">
    <div class="text-center pt-5">
      <h1>ĐĂNG KÝ</h1>
    </div>
    <div class="reg-form form-group mt-3">
      <input
        class="form-control"
        type = "text"
        name="username"
        formControlName="username"
        required
        placeholder="Username"
        id="username"
      >
    </div>
    <div class="reg-form form-group my-3">
      <input
        class="form-control"
        type = "text"
        name="firstname"
        formControlName="firstname"
        required
        placeholder="Tên"
        id="firstname"
      >
    </div>
    <div class="reg-form form-group my-3">
      <input
        class="form-control"
        type = "text"
        name="lastname"
        formControlName="lastname"
        required
        placeholder="Họ"
        id="lastname"
      >
    </div>
    <div class="reg-form form-group my-3">
      <input
        class="form-control"
        type = "email"
        name="email"
        formControlName="email"
        required
        placeholder="Email"
        id="email"
      >
    </div>
    <div class="reg-form form-group my-3">
      <input
        class="form-control"
        type = "text"
        name="phone"
        formControlName="phone"
        required
        placeholder="Số Điện Thoại"
        id="phone"
      >
    </div>
    <div class="reg-form form-group my-3">
      <input
        class="form-control"
        type = "password"
        name="password"
        formControlName="password"
        required
        placeholder="Password"
        id="password"
      >
    </div>
    <div class="reg-form form-group my-3">
      <input
        class="form-control"
        type = "password"
        name="confirmpassword"
        formControlName="confirmpassword"
        required
        placeholder="Confirmpassword"
        id="confirmpassword"
      >
    </div>
    <div class="text-center pb-5">
      <button type="submit" class="btn btn-danger">ĐĂNG KÝ</button>
    </div>
  </form>
</div>
