<div class="container ">
  <div class="row h-100 justify-content-center align-items-center">
    <form name="myForm" [formGroup]="infoUser" (ngSubmit)="onSubmit()" class="py-4 px-4">
      <div class="text-center pt-5">
        <h1 class="fw-bold">ĐĂNG KÝ</h1>
      </div>
      <div class="reg-form form-group mt-3">
        <label for="username" class="fw-bold">Tên đăng nhập:</label>
        <input
          class="form-control"
          type = "text"
          name="username"
          formControlName="username"
          required
          id="username"
        >
        <div *ngIf="username?.invalid && (username?.touched || submitted)" class="text-danger mt-2">
          <div *ngIf="username?.errors?.required">
             Tên đăng nhập không được để trống
          </div>
          <div *ngIf="username?.errors?.pattern">
            Tên đăng nhập sai định dạng
          </div>
        </div>
      </div>
      <div class="reg-form form-group my-3">
        <label for="firstname" class="fw-bold">Tên:</label>
        <input
          class="form-control"
          type = "text"
          name="firstname"
          formControlName="firstname"
          required
          placeholder="Tên"
          id="firstname"
        >
        <div *ngIf="firstname?.invalid && (firstname?.touched || submitted)" class="text-danger mt-2">
          <div *ngIf="firstname?.errors?.required">
            Tên không được để trống
          </div>
          <div *ngIf="firstname?.errors?.pattern">
            Tên sai dinh dang
          </div>
        </div>
      </div>
      <div class="reg-form form-group my-3">
        <label for="lastname" class="fw-bold">Họ và tên đệm:</label>
        <input
          class="form-control"
          type = "text"
          name="lastname"
          formControlName="lastname"
          required
          id="lastname"
        >
        <div *ngIf="lastname?.invalid && (lastname?.touched || submitted)" class="text-danger mt-2">
          <div *ngIf="lastname?.errors?.required">
            Họ không được để trống
          </div>
          <div *ngIf="lastname?.errors?.pattern">
            Họ sai dinh dạng
          </div>
        </div>
      </div>
      <div class="reg-form form-group my-3">
        <label for="email" class="fw-bold">Email:</label>
        <input
          class="form-control"
          type = "email"
          name="email"
          formControlName="email"
          required
          id="email"
        >
        <div *ngIf="email?.invalid && (email?.touched || submitted)" class="text-danger mt-2">
          <div *ngIf="email?.errors?.required">
            Email không được để trống
          </div>
          <div *ngIf="email?.errors?.email">
            Email sai dinh dạng
          </div>
        </div>
      </div>
      <div class="reg-form form-group my-3">
        <label for="phone" class="fw-bold">Số điện thoại:</label>
        <input
          class="form-control"
          type = "text"
          name="phone"
          formControlName="phone"
          required
          id="phone"
        >
        <div *ngIf="phone?.invalid && (phone?.touched || submitted)" class="text-danger mt-2">
          <div *ngIf="phone?.errors?.required">
            Số điện thoại không được để trống
          </div>
          <div *ngIf="phone?.errors?.pattern">
            Số điện thoại sai dinh dạng
          </div>
        </div>
      </div>
      <div class="reg-form form-group my-3">
        <label for="password" class="fw-bold">Mật khẩu:</label>
        <input
          class="form-control"
          type = "password"
          name="password"
          formControlName="password"
          required
          id="password"
        >
        <div *ngIf="password?.invalid && (password?.touched || submitted)" class="text-danger mt-2">
          <div *ngIf="password?.errors?.required">
            Mật khẩu không được để trống
          </div>
          <div *ngIf="password?.errors?.minlength">
            Mật khẩu phải lơn hơn 9 ký tự
          </div>
        </div>
      </div>
      <div class="reg-form form-group my-3">
        <label for="confirmpassword" class="fw-bold">Xác thực mật khẩu:</label>
        <input
          class="form-control"
          type = "password"
          name="confirmpassword"
          formControlName="confirmpassword"
          required
          id="confirmpassword"
        >
        <div *ngIf="confirmpassword?.invalid && (confirmpassword?.touched || submitted)" class="text-danger mt-2">
          <div *ngIf="confirmpassword?.errors?.required">
            Xác thực mật khẩu không được để trống
          </div>
        </div>
      </div>
      <div>
        <input type="checkbox">
        <label class="mx-1">Tôi đồng ý với các điều khoản.</label>
      </div>
      <div class="text-center pb-3 mt-3">
        <button type="submit" class="btn btn-info fw-bolder">ĐĂNG KÝ</button>
      </div>
    </form>
  </div>
</div>
