<div class="container-fluid mt-3" *ngIf="isLogins">
  <div class="content-createPost content row w-100 h-100 justify-content-center align-items-center mx-auto ">
    <form name="myForm" [formGroup]="infoPosts" (ngSubmit)="onSubmit()" class="w-100 px-3">
      <div class="row reg-form form-group mt-3 d-flex">
        <div class="col-3 col-md-2 col-xxl-1 my-auto">
          <img src="{{this.userDetailCreatePosts?.imgAvatar}}" class="p-0" width="40" height="40" style="border-radius: 100px">
        </div>
        <div class="col-9 col-md-10 col-xxl-11 my-auto">
          <textarea
            class="form-control"
            type = "text"
            name="status"
            formControlName="status"
            placeholder="{{this.userDetailCreatePosts?.firstname}} ơi, Bạn đang nghĩ gì thế ?"
            required
            id="status"
          >
          </textarea>
        </div>
      </div>
      <div class="row">
        <div class="reg-form form-group my-3 col-3 mx-md-5 col-lg-4 p-0">
          <label for="image" class="image">
            <img src="http://res.cloudinary.com/hieuduy175111/image/upload/v1626971620/CodingClub/baseline_add_photo_alternate_black_24dp.png.png">
            Choose a file
          </label>
          <input
            class="mx-4 d-none"
            type = "file"
            name="image"
            required
            id="image"
            (change)="onFileSelected($event)"
          >
        </div>
        <div class="text-end my-auto col-4 col-md-4 col-xl-4 col-xxl-5 ">
          <button  type="submit" class="btn btn-light mt-1 fw-bolder">Đăng bài</button>
        </div>
      </div>
    </form>
  </div>
</div>
