.image{
  background-color: #ffffff;
  padding: 5px;
  border-radius: 10px;
}

.image:hover{
  opacity: 0.8;
}
.content{
  background-color: #EDEAFF;
  border-radius: 10px;
}
input{
  border-radius: 20px;
}
button{
  background-color: #17a2b8;
  border-radius: 10px;
}
@media only screen and (min-width: 1450px) {
  .content-createPost{
    width: 80% !important;
  }
}
